html(lang="en")
  head
   meta(charset="UTF-8")
   meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
   title
   meta
   meta
   link(rel='stylesheet' type='text/css' href='app.css')
  body
    h1 enviado por #{mensaje.name}  
    p con email #{mensaje.email} y telefono #{mensaje.phone}
    p envia el mensaje: #{mensaje.subject}
   
